#backgroundFilter {
    display: none;
}
#signInDiv {
    display: none;
}
#sign-in {
    display: none;
}
#password-reset {
    display: none;
}
#needReg {
    display: none;
}
#user-details-container {
    display: none;
}