* {
    box-sizing: border-box;
    max-width:100%;
}

#backgroundFilter { /* START OF SIGN UP / SIGN IN */
    display: none;
}
#signInDiv {
    display: none;
}
#sign-in {
    display: none;
}
#password-reset {
    display: none;
}
#needReg {
    display: none;
}
#user-details-container {
    display: none;
} /* END OF SIGN UP / SIGN IN */

html {
    height: 10000px;
}
#backgroundFilter { /* INVISIBLE BACKGROUND FOR SIGN UP / SIGN IN */
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: x-large;
    text-align: center;

}
#backgroundFilterBox {
    height: 80%;
    width: 80%;
    background-color: black;
    opacity: 0.7; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#inOrOutDiv {
    line-height: 10rem;
}